div.box{
width:1000px;
height:500px;
margin-right:auto;
margin-left:auto;
background-color:gray;
}

.box_menu{
width:1000px;
height:200px;
margin-right:auto;
margin-left:auto;
}

.box_menu1{ 
width:200px;
height:200px;
background-color:skyblue;
float:left;
margin-right:20px;
margin-bottom:20px;
}

.box_menu2{ 
width:200px;
height:200px;
background-color:skyblue;
float:left;
margin-right:20px;
margin-bottom:20px;
}

.box_menu3{ 
width:200px;
height:200px;
background-color:skyblue;
float:left;
}
