.box{
width:90%;
height:100px;
margin-right:auto;
margin-left:auto;
}

.box_menu{
width:90%;
height:200px;
margin-right:auto;
margin-left:auto;
}

.box_menu1{ 
width:200px;
height:90%;
background-color:skyblue;
float:left;
margin-right:20px;
margin-bottom:20px;
}

.box_menu2{ 
width:200px;
height:90%;
background-color:skyblue;
float:left;
margin-right:20px;
margin-bottom:20px;
}

.box_menu3{ 
width:200px;
height:90%;
background-color:skyblue;
float:left;
}
